@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  @apply bg-gray-100;
}

.grid-columns {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    column-gap: 36px;
    row-gap: 32px;
}
